:root {
    /* colors */
    --wx-color-white: #ffffff;
    --wx-color-black: #000000;
    --colors: (
      primary: #409eff,
      success: #67c23a,
      warning: #e6a23c,
      danger: #f56c6c,
      info: #909399
    );
  
    @each $val, $color in var(--colors) {
      --wx-color-$(val): $(color);
      @for $i from 3 to 9 by 2 {
        --wx-color-$(val)-light-$(i): mix(#fff, $(color), .$(i))
      }
      --wx-color-$(val)-light-8: mix(#fff, $(color), .8);
      --wx-color-$(val)-dark-2: mix(#000, $(color), .2);
    }
  
    --wx-bg-color: #ffffff;
    --wx-bg-color-page: #f2f3f5;
    --wx-bg-color-overlay: #ffffff;
    --wx-text-color-primary: #303133;
    --wx-text-color-regular: #606266;
    --wx-text-color-secondary: #909399;
    --wx-text-color-placeholder: #a8abb2;
    --wx-text-color-disabled: #c0c4cc;
    --wx-border-color: #dcdfe6;
    --wx-border-color-light: #e4e7ed;
    --wx-border-color-lighter: #ebeef5;
    --wx-border-color-extra-light: #f2f6fc;
    --wx-border-color-dark: #d4d7de;
    --wx-border-color-darker: #cdd0d6;
    --wx-fill-color: #f0f2f5;
    --wx-fill-color-light: #f5f7fa;
    --wx-fill-color-lighter: #fafafa;
    --wx-fill-color-extra-light: #fafcff;
    --wx-fill-color-dark: #ebedf0;
    --wx-fill-color-darker: #e6e8eb;
    --wx-fill-color-blank: #ffffff;
  
    /* border */
    --wx-border-width: 1px;
    --wx-border-style: solid;
    --wx-border-color-hover: var(--wx-text-color-disabled);
    --wx-border: var(--wx-border-width) var(--wx-border-style) var(--wx-border-color);
    --wx-border-radius-base: 4px;
    --wx-border-radius-small: 2px;
    --wx-border-radius-round: 20px;
    --wx-border-radius-circle: 100%;
  
    /*font*/
    --wx-font-size-extra-large: 20px;
    --wx-font-size-large: 18px;
    --wx-font-size-medium: 16px;
    --wx-font-size-base: 14px;
    --wx-font-size-small: 13px;
    --wx-font-size-extra-small: 12px;
    --wx-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
    --wx-font-weight-primary: 500;
  
    /*disabled*/
    --wx-disabled-bg-color: var(--wx-fill-color-light);
    --wx-disabled-text-color: var(--wx-text-color-placeholder);
    --wx-disabled-border-color: var(--wx-border-color-light);
    
    /*animation*/
    --wx-transition-duration: .3s;
    --wx-transition-duration-fast: .2s;
  
  }